#canvas {
	float: right;
	width: 70%;
	height: 50%;
	border: 1px solid #000000;
}
.button1 {
	height: 25px;
	width: 185px;
	float: none;
	font-size: 13px;
}
.button2 {
	height: 25px;
	width: 90px;
	float: none;
	font-size: 13px;
}
#handChartContainer {
	position: absolute;
	bottom: 1px;
	width: 99%;
	height: 47%;
}
.div1 {
	float: left;
	border: 1px solid #000000;
	padding: 20px;
}
