#canvas {
	float: right;
	width: 50%;
	height: 50%;
	border: 1px solid #000000;
}
.button1 {
	height: 25px;
	width: 185px;
	float: none;
	font-size: 13px;
}
.button2 {
	height: 25px;
	width: 90px;
	float: none;
	font-size: 13px;
}
#logTextArea {
	float: right;
	width: 50%;
	height: 40%;
	font-size: 15px;
}
#handChartContainer {
	float: left;
	width: 47%;
	height: 50%;
}
.div1 {
	float: left;
	border: 1px solid #000000;
	padding: 20px;
}
